---
import { Counter } from "../components/Counter";
import { TodoList } from "../components/TodoList";
import Layout from "../layouts/Layout.astro";
---

<Layout title="reactページ">
  <h1>react</h1>
  <!-- カウンターが動かない -->
  <Counter/>
  <!-- 動く -->
  <Counter client:load />

  <TodoList client:visible />
</Layout>