<header>
  <h1 class="text-2xl duration-300 hover:translate-x-10 hover:scale-[200%] hover:rotate-[360deg]">
    <a href="/">Astro</a>
  </h1>
  <nav>
    <a href="/about">About</a>
    <a href="/posts">投稿一覧</a>
    <a href="/pagination">ページネーション</a>
    <a href="/markdown">マークダウン</a>
    <a href="/blog">ブログ</a>
    <a href="/mixing">ミックスフレームワーク</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
</style>