<header>
  <h1>
    <a href="/">Astro</a>
  </h1>
  <nav>
    <a href="/about">About</a>
    <a href="/posts">投稿一覧</a>
    <a href="/pagination">ページネーション</a>
    <a href="/markdown">マークダウン</a>
    <a href="/blog">ブログ</a>
    <a href="/react">Reactコンポーネント</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
</style>